<nav class="navbar navbar-dark bg-primary">
    <a style="margin-left: 10px;" class="navbar-brand" href="/">
        Gabriel Blog
    </a>

    <ul class="navbar-nav me-auto ">
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link">Categorias</a>
        </li>
    </ul>
</nav>  