<%- include ("../../partials/header.ejs")%>
<%- include ("../../partials/homeNav.ejs")%>

<div class="container">

    <div class="card mt-5">
        <div class="card-header">
            <h2>Criação de usuário</h2>
        </div>
        <div class="card-body">
            <form class="d-grid gap-2" action="/users/create" method="post">
                <label name="email">Digite o seu email</label>
                <input class="form-control" name="email" type="email" placeholder="email@exemplo.com"><br>

                <label name="password">Digite a sua senha</label>
                <input class="form-control" name="password" type="password" placeholder="**********">
                <br>

                <button type="submit" class="btn btn-success">Criar</button>
            </form>
        </div>
    </div>
</div>

<%- include ("../../partials/footer.ejs")%>




